*{
    margin: 0;
    padding: 0;
}

body{
    background:greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box1{
    background-color:gray;
    min-height:50vh;
    padding-top: 3rem;
    border-radius: 1rem;
}

.box1 form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius:10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

#equal{
    width: 145px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    /* background-color: lightgreen; */
}

form input.operator {
    color: #33ffd8;
}

#ht{
    color: white;
}